body {
    background-image: url("../images/marblebackground1.png");
}

.jumbotron {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.button {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    padding: 14px 40px;
    font-size: 30;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    background-color: rgb(119, 201, 122); /* Green */
    color: white;
  }

.container {
    padding-top: 10%;
    
  }
